/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Cormorant+Garamond:ital,wght@1,300');

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    transition: all 150ms linear;
}
img {
    @apply w-full;
}

.book {
    .img {
        width: calc(100% + 8px);
        margin: -4px -4px .75rem;
    }
    .read {
        box-shadow: -1px 1px 3px rgb(0 0 0 / 30%);
    }
    .rating {
        bottom: 4px;
        left: 4px;
        width: calc(100% - 8px);
        padding: 2px 0;
        svg {
            margin-right: 2px;
        }
    }
}
.btn-group {
    padding: 2px;
    .btn:first-child {
        @apply rounded-tl-3xl rounded-bl-3xl;
    }
    .btn:last-child {
        @apply rounded-tr-3xl rounded-br-3xl;
    }
}
.form-range {
    -webkit-appearance: none;
    background: transparent;
    &::-moz-focus-outer {
        border: 0;
    }
    &::-webkit-slider-thumb {
         height:50px;
         width: 50px;
     }
}
