// Body
$body-bg: #f2e8e6;
$grey:  #0B0926;
$text: $grey;
$white: #fff;

// Color Scheme
$pink: #F4A8B2;
$green: #67A777;
$blue: #647ddd;
$yellow: #f4DE7D;
$orange: #E86745;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$font-family-serif: 'Cormorant Garamond', sans-serif;
